* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(102, 102, 102);
}

.container {
  height: 675px;
  width: 500px;
  background-color: rgb(183, 183, 183);
  border-radius: 20px;
  padding: 20px;
}

#display {
  height: 100px;
  max-width: 100%;
  background-color: aquamarine;
  margin: 15px;
  font-size: 5rem;
  text-align: end;
}

#calc-button-container {
  display: flex;
  max-width: 100%;
  padding: 10px;
  gap: 5px;
}

.num-row {
  display: flex;
  gap: 10px;
}

#num-row-4 {
  justify-content: center;
}

#calc-number-buttons {
  display: flex;
  max-width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 1px solid red; */

}

.btn {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.num-btn {
  height: 110px;
  width: 110px;
  max-width: 100%;
  background-color: rgb(46, 46, 171);

}

#calc-symbol-buttons {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
  width: 100%;
}

.sym-btn {
  height: 75px;
  width: 75px;
  background-color: rgb(62, 170, 170);
}